body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sora', sans-serif;
    background-image: url(pictures/download\ \(1\).jpeg);
    background-size: cover;
    color: white;
}
div {
    font-weight: 300;
}
.div1{
    background-color: aqua;
    justify-content: center;
    text-align: center;
    padding: 20px 20px;

}
.div2{
    background-color: blue;
    display: inline-block;
    width: 300px;
    height: 300px;
}
.div3 {
    font-size: 20px;
    font-weight: 200;
    background-color: brown;
    padding: 20px 20px;
}
.div4 {
    font-size: 24px;
    font-weight: 600;
    background-color: olive;
    text-align: center;
    padding: 20px 20px;
}
.div5{
    background-color: crimson;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr ;
}
.div6{
    background-color: darkgoldenrod;
    padding: 10px;

}
.div7{
    background-color: coral;
    padding: 10px;
}
.div8 {
    background-color: orangered;
    padding: 10px;
}
button{
    font-size: 20px;
    font-weight: 400;
    padding: 10px 40px;
   background-color: black;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(2,54,123);
    transition: 0.2s;
    
}
button:hover {
    background-color: rgb(2,54,123);
}
.buttondiv{
    background-color: aqua;
 display: inline-block;
}
.backdiv{
    background-color: darkgreen;
    align-items: center;
    text-align: center;
}
.caution {
    font-size: 18px;
    font-weight: 200;
    padding: 15px;
    text-align: center;
}